.ensoleille{
    background-color: #FFC8DD;
}
.eclaircies{
    background-color: #ffafcc;
}
.brouillard{
    background-color: #bdb2ff;
}
.faibles-passages-nuageux{
    background-color: #8ecae6;
}
.averses-de-pluie-faible{
    background-color: #219ebc;
}
.neige-moderee,.pluie-forte{
    background-color: #023047;
}


